Source: wolframalpha
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Mycroft Devs <devops@mycroft.ai>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all-dbg,
               python-all-dev (>= 2.6.6-3~),
               python-setuptools,
               python3-setuptools-scm,
               python-setuptools-scm,
               python-vcversioner,
               python-six,
               python3-six,
               python-xmltodict,
               python3-xmltodict,
               python-jaraco.itertools,
               python-jaraco.itertools,
               python3-vcversioner,
               python3-all-dbg,
               python3-all-dev,
               python3-setuptools
Standards-Version: 4.0.0

Package: python-wolframalpha
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: wolframalpha module for Python
 This package contains the module for Python 2.x.

Package: python3-wolframalpha
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
Description: wolframalpha - Python 3.x
 This package contains the module for Python 3.x.
